# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/
env/
ENV/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Переменные окружения
.env

# Разное
.DS_Store
Thumbs.db
*.bak
*.tmp

# Миграции (опционально, зависит от требований)
# */migrations/*
# !*/migrations/__init__.py
